doctype
html
	head
		title Mockopoly
		link(rel='stylesheet', href='/css/style.css')
	body
		h1 Mockopoly

		#rollDisplay
		button#roll Roll
		script(src='/socket.io/socket.io.js')
		script(src='/main.js')