extends partials/layout.pug

block content
	h1 Mockopoly

	.create
		a(href='/create') Create
	h2 Pick a game sonny!
	.join
		ul
			for game in games
				li: a(href=`/game/${game._id}`) #{game._id}

	div
		ul#board

	script(src='/socket.io/socket.io.js')
	script(src='/dashboard.js')