doctype
html
	head
		title Mockopoly
		link(rel='stylesheet', href='/css/style.css')
	body
		h1 Mockopoly

		.create
			a(href='/create') Create
		h2 Pick a game sonny!
		.join
			for game in [1,2,3]
				a(href='/game/${}') #{game}